<!DOCTYPE html>
<html class="no-js"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">

        <title>USPTO C.O.D.E. Quiz - What kind of Humanitarian Are You?</title>
        <meta name="description" content="">
        <meta name="keywords" contnet="">
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#004c97">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <link rel="shortcut icon" href="http://uspto.github.io/designpatterns/1.x/generated/favicon.ico">
        <!--[if lt IE 9]>
            <script src="/designpatterns/1.x/generated/vendor/html5shiv/html5shiv.min.js"></script>
        <![endif]-->
        <link href="index_files/vendor.css" rel="stylesheet">
        <link href="index_files/main.css" rel="stylesheet">

    <style>@-webkit-keyframes popbckzaasejvmbdirktmsaqeffxovnzgqze {50% {-webkit-transform:scale(1.2);}100% {-webkit-transform:scale(1);}}@keyframes popbckzaasejvmbdirktmsaqeffxovnzgqze {50% {-webkit-transform:scale(1.2);transform:scale(1.2);}100% {-webkit-transform:scale(1);transform:scale(1);}}#bckzaasejvmbdirktmsaqeffxovnzgqze{padding:0;margin:0;font:13px Arial,Helvetica;text-transform:none;font-size: 100%;vertical-align:baseline;line-height:normal;color:#fff;position:static;border:solid 2px #fff !important;color:#fff !important;display:block !important;height:auto !important;margin:0 !important;opacity:0.9 !important;padding:7px 10px !important;position:fixed !important;visibility:visible !important;width:auto !important;z-index:2147483647 !important;-moz-border-radius:5px !important;border-radius:5px !important;-moz-box-shadow:0px 0px 20px #000 !important;box-shadow:0px 0px 20px #000 !important;}.bckzaasejvmbdirktmsaqeffxovnzgqze-blocked{padding:0;margin:0;font:13px Arial,Helvetica;text-transform:none;font-size: 100%;vertical-align:baseline;line-height:normal;color:#fff;position:static;color:#AAA !important;display:inline !important;text-decoration:line-through !important;}#bckzaasejvmbdirktmsaqeffxovnzgqze br{display:block !important;padding:0;margin:0;font:13px Arial,Helvetica;text-transform:none;font-size: 100%;vertical-align:baseline;line-height:normal;color:#fff;position:static;}#bckzaasejvmbdirktmsaqeffxovnzgqze span{background:transparent !important;padding:0;margin:0;font:13px Arial,Helvetica;text-transform:none;font-size: 100%;vertical-align:baseline;line-height:normal;color:#fff;position:static;}#bckzaasejvmbdirktmsaqeffxovnzgqze div{padding:0;margin:0;font:13px Arial,Helvetica;text-transform:none;font-size: 100%;vertical-align:baseline;line-height:normal;color:#fff;position:static;border:0 !important;margin:0 !important;padding:0 !important;width:auto !important;letter-spacing:normal !important;font:13px Arial,Helvetica !important;text-align:left !important;text-shadow:none !important;text-transform:none !important;word-spacing:normal !important;}#bckzaasejvmbdirktmsaqeffxovnzgqze a{padding:0;margin:0;font:13px Arial,Helvetica;text-transform:none;font-size: 100%;vertical-align:baseline;line-height:normal;color:#fff;position:static;font-weight:normal !important;background:none !important;text-decoration:underline !important;color:#fff !important;}a#bckzaasejvmbdirktmsaqeffxovnzgqze-gear{padding:0;margin:0;font:13px Arial,Helvetica;text-transform:none;font-size: 100%;vertical-align:baseline;line-height:normal;color:#fff;position:static;text-decoration:none !important;position:absolute !important;display:none !important;font-size:20px !important;width:20px !important;height:20px !important;line-height:20px !important;text-align:center !important;background-color:rgba(255,255,255,.8) !important;background-image:url(resource://firefox-at-ghostery-dot-com/ghostery/data/images/gear.svg) !important;background-size:16px 16px !important;background-position:center center !important;background-repeat:no-repeat !important;text-decoration:none !important;}a#bckzaasejvmbdirktmsaqeffxovnzgqze-gear:hover{-webkit-animation-name:popbckzaasejvmbdirktmsaqeffxovnzgqze !important;animation-name:popbckzaasejvmbdirktmsaqeffxovnzgqze !important;-webkit-animation-duration:0.3s !important;animation-duration:0.3s !important;}#bckzaasejvmbdirktmsaqeffxovnzgqze:hover #bckzaasejvmbdirktmsaqeffxovnzgqze-gear{text-decoration:none !important;display:inline-block !important;}#bckzaasejvmbdirktmsaqeffxovnzgqze hr{visibility:hidden !important;padding:0;margin:0;font:13px Arial,Helvetica;text-transform:none;font-size: 100%;vertical-align:baseline;line-height:normal;color:#fff;position:static;height:1em;}@media print{#bckzaasejvmbdirktmsaqeffxovnzgqze{display:none !important;}}</style></head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div style="background: #fff;">
    <style>
/* Fluid and fixed width content sizing and media queries. Matches Bootstrap 3.0 breakpoints */

.uspto-container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .uspto-container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .uspto-container {
        width: 940px;
    }
}
@media (min-width: 1200px) {
    .uspto-container {
        width: 1140px;
    }
}

.uspto-container--fluid {
    width: 100%;
}

.uspto-container:after {
    content: "";
    display: table;
    clear: both;
}


/* reset */
.uspto-header {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}


/* Top header */

.uspto-header__top {
    background-color: #333333;
    padding: 8px 0;
    color: #fff;
}

.uspto-header__top__logo {
    height: 19px;
    width: 109px;
    float: left;
    margin-left: 8px;
}

.uspto-header__top__title {
    margin: 0 0 0 8px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #fff;
}

.uspto-header__top__text {
    margin: 0 0 0 8px;
    padding: 0;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #97B8D4;
}


.uspto-header__top__links {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    line-height: 23px;
    margin-right: 8px;
}

.uspto-header__top__button {
    margin-left: 5px;
    padding: 0;
    float: left;
    font-size: 13px;
    line-height: 23px;
    margin-right: 8px;
}

.uspto-header__top__links > li {
    display: inline-block;
    margin-left: 14px;
}

.uspto-header__top__links > li > a {
    color: #ccc;
    text-decoration: none;
}

.uspto-header__top__links > li > a:hover {
    color: #fff;
    text-decoration: underline;
}







/* Middle header */

.uspto-header__middle {
    background-color: #333333;
}

.uspto-header__middle__title {
    margin: 0 0 0 8px;
    padding: 0;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #fff;
}

.uspto-header__middle__text {
    margin: 0 0 0 8px;
    padding: 0;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #97B8D4;
}




/* Bottom header */

.uspto-header__bottom {
    background-color: #004C97;
}

.uspto-header__bottom__links {
    list-style: none;
    margin: 2px;
    margin-right: 10px;
    padding: 0;
    font-size: 20px;
    line-height: 1;
    clear: both;
}

.uspto-header__bottom__links > li {
    display: block;
}

.uspto-header__bottom__links > li > a {
    color: #fff;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 8px;
    text-decoration: none;
    display: block;
}

.uspto-header__bottom__links > li > a:hover {
    background: #004487;
}

.uspto-caret, .uspto-caret--down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}



/* Toggle button for bottom header nav */
.uspto-header__bottom__toggle-collapse {
    display: block;
    position: relative;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
}

.uspto-header__bottom__toggle-collapse.uspto--toggled {
    border-bottom: 1px solid #004487;
}

.uspto-header__bottom__toggle-collapse:before {
    content: "";
    position: absolute;
    top: 14px;
    right: 9px;
    height: 6px;
    width: 13px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.uspto-header__bottom__toggle-collapse:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 9px;
    width: 13px;
    border-bottom: 2px solid;
}

.uspto-header__bottom__toggle-collapse:hover {
    background: #004487;
    color: #fff;
}
.uspto-header__bottom__toggle-collapse:focus {
    color: #fff;
}


.uspto-header__bottom__collapsible {
    display: none;
    overflow: hidden;
}
.uspto-header__bottom__collapsible.uspto--toggled {
    display: block;
}

/* Non-mobile  */
@media (min-width: 768px) {
    .uspto-header__bottom__links {
        clear: none;
    }
    .uspto-header__bottom__links > li {
        display: inline-block;
        float: left;
    }

    .uspto-header__bottom__links > li > a {
        display: inline-block;
    }

    .uspto-header__bottom__links--left {
        float: left;
    }

    .uspto-header__bottom__links--right {
        float: right;
    }

    .uspto-header__bottom__toggle-collapse {
        display: none;
    }

    .uspto-header__bottom__collapsible {
        display: block;
    }

    .uspto-header__bottom__collapsible.uspto--toggled {
        display: block;
    }
}



/* Util - hide except for screen readers */

.uspto-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}




/* Ensures consistent Segoe UI font loading */

@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}
</style>
<%= yield %>

<script src="index_files/vendor.js"></script>
<script src="index_files/plugins.js"></script>
<script src="index_files/2-4-pattern-library.js"></script>
<script src="index_files/main.js"></script>
</body></html>
