<div class="uspto-header">
    <div class="uspto-header__top">
        <div class="uspto-container uspto-container--fluid">
            <div class="uspto-header__top__button">
                <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon icon-bars"></i><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/">Reset Quiz</a></li>
                    <li><a href="http://www.usptocode.org">C.O.D.E. Homepage</a></li>
                    <li><a href="http://www.facebook.com/usptocode">C.O.D.E. on Facebook</a></li>
                </ul>
                </div>
            </div>
            <h4 class="uspto-header__top__title">What kind of humanitarian are you? QUIZ RESULTS!</h4>
        </div>
    </div>
    <div class="container-fluid padding-top-4 padding-left-4">
    <!-- Medicine, Nutrition, Sanitation, Household Energy, Living Standards -->
    <h2> You are a <%= icon %> humanitarian! </h2>
    <img width="200" height="200" style="margin: 5px;" src="/images/<%=filename%>lg.gif"></img>
        <br><br><br>
    <h4>Find out more about the Patents for Humanity winners and contest entries <a href="http://www.uspto.gov/patent/initiatives/patents-humanity/patents-humanity-awards-2015">here at the official Patents for Humanity website!</a>
    </div>
    <div class="uspto-header__bottom">
        <div class="uspto-container uspto-container--fluid">
        </div> 
    </div>
</div>
